@charset "UTF-8";
/* ---------------------------
* base
* ---------------------------- */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro','メイリオ', 'Meiryo', '游ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  position: relative;
}
/* ---------------------------
* parts
* ---------------------------- */
.sec-title {
  font-size: 3.6rem;
  margin-bottom: 77px;
  text-align: center;
  font-weight: bold;
}
.contact .sec-title {
  font-size: 2.4rem;
  font-weight: bold;

}

.inner {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 120px;
}
.text {
  font-size: 2.4rem;
  line-height: 48px;
  margin: -12px 0;
  margin-bottom: 45px;
  font-weight: bold;
}
.description {
  line-height: 30px;
}
/* ---------------------------
* header
* ---------------------------- */
.header {
  color: #fff;
  background-color: #1b1310;
  display: flex;
  justify-content: space-between;
  padding: 0 100px; 
  height: 74px;
  .site-title {
    margin: 24px 0;
    a {
      display: block;
      font-size: 1.8rem;
      font-weight: bold;
    }
  }
  .nav ul {
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin: 26.5px 0;
    .nav_item {
      font-size: 1.6rem;
      font-weight: normal;
    }
  }
  .res-nav {
    display: none;
  }
  .humberger {
    display: none;
  }
}
/* ---------------------------
* main
* ---------------------------- */
.fv {
  height: 740px;
  background: url(../images/fv-rugby.jpg) no-repeat;
  vertical-align: top;
  background-size: cover;
  color: #fff;
  position: relative;
  margin-bottom: 100px;
  &_text {
    font-size: 60px;
    height: 140px;
    text-align: center;
    font-weight: bold;
    line-height: 140px;
    position: absolute;
    top: 300px;
    left: calc(50% - 236.5px);
  }
  &_subtext {

    position: absolute;
    top: 420px;
    left: calc(50% - 236.5px)

  }
}
/* ---------------------------
* about
* ---------------------------- */
#about {
  margin-bottom: 150px;

}
/* ---------------------------
* service
* ---------------------------- */
#service {
  margin-bottom: 150px;
  background-color: #f0f0f0;
  padding: 30px;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  .img {
    width: 46.6%;
    display: block;
    height: auto;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
  }
  .text-area {
    margin: 25px 70px -8px 0;
    width: 53.4%;

  }
  &:nth-of-type(1) {
    img {
      order: -1;

    }
    .text-area {
      margin: 25px 0 -8px 70px;
    }

  }

 
}
/* ---------------------------
* PV
* ---------------------------- */
#pv {
  margin-bottom: 150px;
 }
.iframe-wrap {
  margin: 0 auto;
  width: 560px;
  height: 315px;
}

/* ---------------------------
* news
* ---------------------------- */
#news {
  margin-bottom: 157px;
  padding: 30px;
  text-align: center;
  background-color: #f0f0f0;
  .description {
    margin-bottom: 10px;
  }
  .pdf {
    font-size: 100px;
    color: red;

  }
}

/* ---------------------------
* contact
* ---------------------------- */
#contact {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
  .description {
    margin-bottom: 7px;
  }
  .twitter {
    font-size: 100px;
    color: #00acee

  }
}

/* ---------------------------
* footer
* ---------------------------- */
.footer {
  background-color: #1b1310;
  height: 79px;
  width: 100%;
  p {
    text-align: center;
    color: #fff;
    font-weight: normal;
    line-height: 79px;
  }
}

/* ---------------------------
* メディアクリ
* ---------------------------- */
@media (max-width: 765px) {
  /* ---------------------------
  * parts
  * ---------------------------- */
  .sec-title {
  font-size: 2.5rem;
}
  .text {
    font-size: 2.0rem;
    margin-bottom: 34px;
  }
  .inner {
    padding: 0 15px;
  }
  .header {
    padding: 0 15px;
    .nav {
      display: none;
    }
    .res-nav {
      display: block;
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      text-align: center;
      background-color: #1b1310;
      height: 100vh;
      z-index: 1;
      transition: 0.5s;
      ul {
        margin-top: calc(50vh - 105px);
        li {
          margin-bottom: 50px;
        }
      }

    }
    &.open .res-nav {
      right: 0;
      opacity: 1;

    }
    .humberger {
      display: block;
      position: relative;
      width: 25px;
      height: 16px;
      margin-top: 29.5px;
      cursor: pointer;
      z-index: 3;
      
      span {
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;     
        background-color: #fff;
        z-index: 5;
        transition: 0.5s;
        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 7px;
        }
        &:nth-child(3) {
          bottom: 0;
        }
      }   
    }
    &.open .humberger{
      position: fixed;
      right: 15px;
      span {
         &:nth-child(1) {
           top: 7px;
           transform: rotate(315deg);
         }
         &:nth-child(2) {
           display: none;
         }
         &:nth-child(3) {
           bottom: 7px;
           transform: rotate(-315deg);
         }
       
     }
    }
  }
  .fv {
    height: 590px;
    &_text {
      font-size: 3.0rem;
      width: 300px;
      line-height: 100px;
      height: 100px;
      top: 245px;
      left: calc(50% - 160px);  
    }
    .fv_subtext {
      top: 320px;
      left: calc(50% - 140px)
      
    }
  }
    .content {
    display: block;
    .img {
      width: 100%;
    }
    .text-area {
      width: 100%;
      margin: 0;
      margin-bottom: 45px;
    }
    &:nth-of-type(1) {
      img {
        order: 0;
  
      }
      .text-area {
        margin: 0;
        margin-bottom: 45px;
      }
  
    }
  }
  .iframe-wrap {
  margin: 0 auto;
  width: 300px;
  height: 200px
 }


  .wrapper {
    display: block;
    .news-item {
      width: 100%;
      margin-bottom: 50px;
    }
  }
}